@page
@using QcpTask.Core.Caching;
@model QcpTask.Web.Pages.CacheModel


Cache lenght @SimpleCache.SymbolPriceChangeTickerResponseList.Count
@foreach (var cacheItem in SimpleCache.SymbolPriceChangeTickerResponseList)
{
    <p>
        <span>HighPrice:</span> @cacheItem.HighPrice <span>LowPrice:</span> @cacheItem.LowPrice <span>CloseTime:</span> @cacheItem.CloseTime.ToString("o") <span>OpenTime:</span> @cacheItem.OpenTime.ToString("o")
    </p>
}